<md-toolbar color="primary">
  Bai's Lego Shop
  <!--<md-spinner *ngIf="(loading " style="width:50px;"></md-spinner>-->
</md-toolbar>

<div class="spinner-container">
  <md-spinner *ngIf="(loading$ | async)" color="accent"></md-spinner>
</div>

<div *ngIf="!(loading$ | async)" class="container">

  <div class="row">

    <div class="col-sm-9">

      <budget-selector></budget-selector>

      <div>

        <lego-card-list></lego-card-list>

      </div>

    </div>

    <div class="col-sm-3">

      <shopping-cart></shopping-cart>

    </div>

  </div>

</div>
