/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.scss';
// @import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables';
// @import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins';
// @import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap/grid';


html, body {
  margin:0;
  padding:0;

  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
}

.clear {
  clear: both;
}

.icon-text .material-icons {
  position: relative;
  // /* Adjust these values accordingly */
  top: 5px;
  // left: 5px;
  margin-right:5px;
}
